<main
  class="flex flex-col items-center justify-center min-h-screen text-white bg-gray-900"
>
  <div
    class="p-6 sm:m-6 bg-gray-800 sm:rounded-lg sm:shadow-xl w-full max-sm:min-h-[100vh] sm:w-96 flex flex-col gap-4"
  >
    <div class="flex-grow"></div>
    <div class="flex flex-col justify-center h-full gap-12">
      <h1 class="text-2xl font-bold">Labseq Sequence Calculator</h1>
      <div>
        <label for="inputNumber" class="block mb-2"
          >Enter a number for the sequence:</label
        >
        <form class="flex gap-2">
          <input
            type="string"
            (change)="onValueChange($event)"
            (click)="handleInputClick()"
            class="w-full p-2 text-white bg-gray-700 border rounded-md focus:outline-none focus:border-blue-500"
            [ngClass]="{ 'border-red-500': error, 'border-gray-300': !error }"
          />
          <button
            type="submit"
            (click)="handleCalculate()"
            class="px-4 py-2 text-white bg-blue-500 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600"
          >
            Calculate
          </button>
        </form>
        <div *ngIf="error" class="mt-2 font-bold text-red-500">
          Error: {{ error }}
        </div>
        <div *ngIf="data !== undefined" class="mt-2">
          Sequence result for <span class="font-bold">{{ value }}</span
          >:
          <span class="font-bold text-green-500 break-words">{{ data }}</span>
        </div>
      </div>
    </div>
    <div class="flex-grow"></div>
    <footer class="mt-8 mb-4 text-sm text-center text-gray-400">
      Made by Tomás Quintal<br />
      GitHub:
      <a
        href="https://github.com/tquintal"
        rel="noopener noreferrer"
        target="_blank"
        class="underline"
        >tquintal</a
      ><br />
      LinkedIn:
      <a
        href="https://www.linkedin.com/in/tpquintal/"
        rel="noopener noreferrer"
        target="_blank"
        class="underline"
        >tpquintal</a
      >
    </footer>
  </div>
</main>
